.heroSection {
  background-image: url("/images/hero_banner_small.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 240px);
  margin-top: 240px;
}

.styledContainer {
  display: flex;
  align-self: self-start;
  position: relative;
  top: -168px;
}

.infoContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 437px;
}

.heroTitle {
  font-size: var(--title1-fs);
  font-weight: var(--title1-fw);
  line-height: 40px;
  margin-bottom: 8px;
}

.heroSubtitle {
  font-size: var(--body-medium-web-fs);
  color: var(--grey700);
  line-height: var(--body-medium-web-lh);
  font-weight: var(--body-medium-web-fw);
  margin-bottom: 16px;
}

.heroSection .supportButton {
  max-width: fit-content;
  min-width: 182px;
}

/* iPads, Tablets, Laptops, Desktops */
@media screen and (min-width: 481px) {
  .heroSection {
    background-image: url("/images/hero_banner_medium.png");
    margin-top: 0px;
    min-height: 100vh;
  }

  .heroSection .styledContainer {
    padding-top: 90px;
    top: 0;
  }

  .heroSection .infoContainer {
    margin-top: 72px;
  }
}

/* Small tablets (in portrait mode) and small laptops */
@media screen and (min-width: 769px) {
  .heroSection {
    background-image: url("/images/hero_banner_medium.png");
  }

  .heroSection .styledContainer {
    justify-content: flex-end;
    padding-top: 120px;
    align-items: flex-end;
  }

  .heroSection .infoContainer {
    text-align: left;
    align-items: flex-start;
  }

  .heroTitle {
    font-size: var(--title4-fs);
    font-weight: var(--title4-fw);
    line-height: var(--title4-lh);
  }

  .heroSubtitle {
    font-size: var(--subtitle-medium-fs);
    line-height: var(--subtitle-medium-lh);
    font-weight: var(--subtitle-medium-fw);
    margin-bottom: 24px;
  }
}

/* Extra large desktop monitors, TVs, and ultra-wide screens */
@media screen and (min-width: 2001px) {
  .heroSection {
    background-image: url("/images/hero_banner_large.png");
    min-height: 809px;
    max-width: 1400px;
    margin: 0 auto;
  }
}
