.wrapper {
  background: var(--grey100);
  min-height: 80vh;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 112px;
}

@media screen and (min-width: 1280px) {
  .news {
    padding-top: 112px;
  }
}

@media screen and (min-width: 1440px) {
  .news {
    padding-top: 176px;
  }
}
