.support {
  background: var(--yellow500);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.wrapper p {
  font-family: var(--font-manrope);
  font-size: var(--body-lg-fs);
  font-weight: var(--body-lg-fw);
  line-height: var(--body-lg-lh);
  align-self: stretch;
  text-align: center;
  color: var(--grey900);
}

@media screen and (min-width: 1280px) {
  .wrapper p {
    font-family: var(--font-mulish);
    font-size: var(--title2-fs);
    font-weight: var(--title2-fw);
    line-height: var(--title2-lh);
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    width: 1200px;
    padding-right: 0;
    padding-left: 0;
  }
}
