/* mobile */
.container {
  width: 100%;
  box-sizing: border-box;
  padding: var(--padding-lg) var(--padding-sm);
  margin: 0 auto;
}

/* iPads */
@media screen and (min-width: 481px) {
  .container {
    padding: var(--padding-xl) var(--padding-md);
  }
}

/* Small tablets (in portrait mode) and small laptops */
@media screen and (min-width: 834px) {
  .container {
    padding: var(--padding-xl) var(--padding-xxl);
  }
}

/* Tablets in landscape mode, and medium laptops */
@media screen and (min-width: 1025px) {
  .container {
    padding: var(--padding-xxl) var(--padding-xxxl);
  }
}

/* Large laptops and standard desktop screens */
@media screen and (min-width: 1401px) {
  .container {
    padding: 96px var(--padding-xxl);
    /* 1328px, calculation for content width 1200px + paddings */
    max-width: calc(1200px + (var(--padding-xxl) * 2));
  }
  .container:has(.info-section) {
    max-width: 888px;
  }
}

/* Extra large desktop monitors, TVs, and ultra-wide screens */
@media screen and (min-width: 2001px) {
  .container {
    padding: 96px var(--padding-xxxl);
  }
  .container:has(.info-section) {
    max-width: 1200px;
  }
}
