.howToHelp {
  background-color: var(--yellow500);
}

.howToHelp-wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: var(--font-mulish), sans-serif;
  font-size: var(--subtitle-bold-fs);
  font-weight: var(--subtitle-bold-fw);
  line-height: var(--subtitle-bold-lh);
  margin-bottom: 16px;
}

.paragraph {
  font-family: var(--font-manrope), sans-serif;
  font-size: var(--body-medium-web-fs);
  font-weight: var(--body-medium-web-fw);
  line-height: var(--body-medium-web-lh);
  margin-bottom: 16px;
  max-width: 434px;
  width: 100%;
  text-align: justify;
}
