.whyneed {
  padding: var(--padding-lg) var(--padding-sm);
}

.whyneedWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
  justify-content: center;
}

.whyneedWrapper:last-child {
  margin-bottom: 0;
}

.whyneedItem {
  width: 100%;
}

.whyneedImg {
  /*max-width: 424px;*/
  /*width: 100%;*/
  /*object-fit: contain;*/
  /*object-position: left;*/
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.whyneedTitle {
  font-family: var(--font-mulish), sans-serif;
  font-size: var(--subtitle-bold-fs);
  font-weight: var(--subtitle-bold-fw);
  line-height: 140%;
  letter-spacing: 0em;
  color: var(--grey900);
  margin-bottom: 16px;
}

.whyneedDescr {
  font-family: var(--font-manrope), sans-serif;
  font-size: var(--body-medium-web-fs);
  font-weight: var(--body-medium-web-fw);
  line-height: var(--body-medium-web-lh);
}

.whyneedImgContainer {
  border-radius: 8px;
}

@media screen and (min-width: 1024px) {
  .whyneed {
    padding: 96px 0;
    width: 90%;
    max-width: 1100px;
    margin: auto;
  }

  .whyneedWrapper {
    width: 100%;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
  }

  .whyneedWrapper:nth-child(3n + 1) {
    flex-direction: row-reverse;
  }

  .whyneedImg {
    width: 424px;
    height: 234px;
  }
}

@media screen and (min-width: 1440px) {
  .whyneed {
    width: 888px;
    margin: auto;
  }

  .whyneedWrapper {
    width: 100%;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
  }

  .whyneedWrapper:nth-child(3n + 1) {
    flex-direction: row-reverse;
  }

  .whyneedTitle {
    font-size: var(--title1-fs);
    font-weight: var(--title1-fw);
    margin-bottom: 32px;
  }

  .whyneedImg {
    width: 424px;
    height: 234px;
  }
}

@media screen and (min-width: 2560px) {
  .whyneed {
    width: 1200px;
    margin: auto;
    max-width: 1200px;
  }

  .whyneedImg {
    width: 568px;
    height: 156px;
    object-fit: cover;
    object-position: -0.246px -27px;
  }
}
